<!DOCTYPE html>
<html>
<head>
    <title></title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="col-md-1">
            <select type="text" class="form-control" v-model="signin.walletTypeId" @keyup.enter="query" placeholder="钱包类型">
                <option value="-1" >全部</option>
                <option value="1">余额</option>
                <option value="2">平台币</option>
                <option value="3">银矿池</option>
                <option value="4">金矿池</option>
                <option value="5">贡献池</option>
                <option value="6">期权股</option>
            </select>
        </div>
        <div class="col-md-1">
            <select type="text" class="form-control" v-model="signin.signType" @keyup.enter="query" placeholder="签到类型">
                <option value="-1" >全部</option>
                <option value="1">签到</option>
                <option value="2">关注</option>
                <option value="3">浏览</option>
            </select>
        </div>
        <div class="grid-btn">
            <a class="btn btn-default" @click="query">查询</a>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/business/signin.js?_${.now?long}"></script>
</body>
</html>