<!DOCTYPE html>
<html>
<head>
    <title></title>
    <#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="form-group col-sm-1">
            <input type="text" class="form-control" v-model="user.id" @keyup.enter="query" placeholder="uid">
        </div>
        <div class="form-group col-sm-2">
            <input type="text" class="form-control" v-model="user.name" @keyup.enter="query" placeholder="账号">
        </div>
        <div class="col-md-1">
            <select type="text" class="form-control" v-model="user.userVipId" @keyup.enter="query" placeholder="会员等级">
                <option value="-1">全部</option>
                <option value="1">一星矿工</option>
                <option value="2">二星矿工</option>
                <option value="3">三星店家</option>
                <option value="4">四星千户</option>
                <option value="5">五星城主</option>
            </select>
        </div>
        <div class="grid-btn">
            <a class="btn btn-default" @click="query">查询</a>
            <#if shiro.hasPermission("business:user:activate")>
            <a class="btn btn-primary" @click="activate">&nbsp;激活账号</a>
        </#if>
        </div>
    </div>
    <table id="jqGrid"></table>
    <div id="jqGridPager"></div>
</div>
</div>


<script src="${request.contextPath}/statics/js/modules/business/user.js?_${.now?long}"></script>
</body>
</html>