<!DOCTYPE html>
<html>
<head>
    <title>充值</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("business:walletrecharge:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("business:walletrecharge:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("business:walletrecharge:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">发送地址</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="walletRecharge.formAddress" placeholder="发送地址"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">接受地址</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="walletRecharge.toAddress" placeholder="接受地址"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">数量</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="walletRecharge.number" placeholder="数量"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">hash值</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="walletRecharge.txid" placeholder="hash值"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">区块高度</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="walletRecharge.block" placeholder="区块高度"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">区块下标</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="walletRecharge.blockIndex" placeholder="区块下标"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">手续费</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="walletRecharge.fee" placeholder="手续费"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">token</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="walletRecharge.token" placeholder="token"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">创建时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="walletRecharge.createDate" placeholder="创建时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">出块时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="walletRecharge.comeDate" placeholder="出块时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">备注</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="walletRecharge.remark" placeholder="备注"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="walletRecharge.coinId" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="walletRecharge.walletId" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">0 确认中 1 成功 2 失败 3 删除 4 成功</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="walletRecharge.status" placeholder="0 确认中 1 成功 2 失败 3 删除 4 成功"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">代币名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="walletRecharge.coinName" placeholder="代币名称"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">1 链上充值 2 内部充值</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="walletRecharge.type" placeholder="1 链上充值 2 内部充值"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="walletRecharge.userId" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"> 成功 未归集 手续费确认中  手续费支付失败 
usdt发送确认中 失败</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="walletRecharge.collectionType" placeholder=" 成功 未归集 手续费确认中  手续费支付失败 
usdt发送确认中 失败"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="walletRecharge.scanType" placeholder=""/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/business/walletrecharge.js?_${.now?long}"></script>
</body>
</html>